@media screen and (max-width: $breakpoint-m) {
  .hero.is-white .navbar-menu {
    background-color: white;
  }
  .hero.is-black .navbar-menu {
    background-color: #0a0a0a;
  }
  .hero.is-light .navbar-menu {
    background-color: $theme-white;
  }
  .hero.is-dark .navbar-menu {
    background-color: $theme-black;
  }
  .hero.is-primary .navbar-menu {
    background-color: $theme-grey;
  }
  .hero.is-link .navbar-menu {
    background-color: $theme-blue;
  }
  .hero.is-info .navbar-menu {
    background-color: #209cee;
  }
  .hero.is-success .navbar-menu {
    background-color: #23d160;
  }
  .hero.is-warning .navbar-menu {
    background-color: #ffdd57;
  }
  .hero.is-danger .navbar-menu {
    background-color: $button-red;
  }
  .hero.is-dark .subtitle {
    color: #202020;
    text-align: justify;
    text-align-last: center;
    padding: 0px;
  }
}

@media screen and (min-width: $breakpoint-s), print {
  .hero.is-medium .hero-body {
    padding-bottom: 9rem;
    padding-top: 9rem;
  }
  .hero.is-large .hero-body {
    padding-bottom: 18rem;
    padding-top: 18rem;
  }
  .hero-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-buttons .button:not(:last-child) {
    margin-right: 1.5rem;
  }
}
