/*--
	Slider Start
--*/
#slider {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative;
}
#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to left, #8b86a3, #322e40); */
  background-image: radial-gradient(circle, #322e40 0%, #174030 40%, #1f5942 75%, #2e8262 90%, #40b788 100%);
  opacity: 0.6;
}
#slider .block {
  color: #FFF;
}
#slider .block h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 10px;
  padding-bottom: 45px;
}
#slider .block p {
  font-size: 24px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}
