$breakpoint-xl: 88em;
$breakpoint-l: 76em;
$breakpoint-m: 64em;
$breakpoint-s: 48em;
$breakpoint-xs: 32em;

$breakpoints: (
	xl : $breakpoint-xl,
	l : $breakpoint-l,
	m : $breakpoint-m,
	s : $breakpoint-s,
	xs: $breakpoint-xs
);
