// Colors
$bg-color: #FFFFFF;
$text-color: #363636;

$theme-white: #F5F5F5;
$theme-black: #363636;
$theme-grey: #A9A9A9;
$theme-blue: #3273DC;

$transparent-white: rgba(245, 245, 245, 0.67);

$button-red: #FF0000;
$button-red-active: #D60000;
$button-yellow: #FFC531;
$button-green: #00FB3F;
$button-blue: #00FFFF;
