// mixins
@mixin font($family, $style, $weight, $url, $src1, $src2) {
  size: $weight;
  familystripped: $family;
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weigth;
    src: url("fonts/${url}-${$size}.eot"); /* IE9 Compat Modes */
    src: local($src1), local($src2),
    url("fonts/${url}-${$size}.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
    url("fonts/${url}-${$size}.woff2") format('woff2'), /* Super Modern Browsers */
    url("fonts/${url}-${$size}.woff") format('woff'), /* Modern Browsers */
    url("fonts/${url}-${$size}.ttf") format('truetype'), /* Safari, Android, iOS */
    url("fonts/${url}-${$size}.svg#${familystripped}") format('svg'); /* Legacy iOS */
  }
}
