<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ .Hugo.Generator }}

<!-- robots -->
<!-- you may configure it in the front matter of the page or in site params -->
{{ if or (isset .Params "robots") (isset .Site.Params "robots") }}
<meta name="robots" content="{{ with .Params.robots }}{{ . }}{{ else }}{{ .Site.Params.robots }}{{ end }}">
{{ end }}

<!-- Place favicon.ico and apple-touch-icon.png in the root directory
     or place appropriate <link .../> etc in favicon.html partial -->
{{ partial "favicon" . }}

<title>{{ .Title }}</title>

<!-- CSS -->
{{ $styleloader := resources.Get "scss/loader.scss" }}
{{ $style := $styleloader | resources.ExecuteAsTemplate "css/bundle.scss" . | toCSS | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $jsloader := resources.Get "js/loader.js" }}
{{ $js := $jsloader | resources.ExecuteAsTemplate "js/bundle.js" . | resources.Minify | fingerprint }}

<!-- http://regexr.com/3f9d1 -->
<script async type="text/javascript" src="{{ $js.Permalink }}"></script>
