@media screen and (max-width: $breakpoint-s) {
  .footer {
    .footer-menu {
      display: block;
    }
    .footer-text {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
  }
  .navbar-social {
    align-items: center;
    justify-content: center;
  }
}
